@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.App {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
}

.Events {
  box-shadow: 1px, gray;
}
.addEvent{
  padding-bottom: 20px;

}


.likeEditDelete {
  width: 80%;
  padding-top: 10px;
}

 .App h1 {
  color: white;
  margin-bottom: 30px !important;
  text-align: center;
  font-size:65px;
  font-family: 'Titan One', cursive;
  background-color: #AB6FCA;
  border-radius: 20px;
}


