.App {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
}

.Events {
  box-shadow: 1px, gray;
}
.addEvent{
  padding-bottom: 20px;

}


.likeEditDelete {
  width: 80%;
  padding-top: 10px;
}

 .App h1 {
  color: purple;
  margin-bottom: 50px !important;
  text-align: center;
  font-size:40px;
}

.faHeart {
  text-align: center;
 color: red;
 font-size: 1.5em;
}

